slug: hello_world
name: Hello World
version: "0.1.0"
description: Minimal test add-on scaffold for future energyHome optimizer
arch:
  - aarch64
  - amd64
  - armv7
  - armhf
  - i386
startup: application
boot: auto
init: false
options: {}
schema: {}
