slug: energyhome_forecast
name: EnergyHome Forecast
version: "0.2.0"
description: Collects inverter load data from Home Assistant and serves 48h forecasts with iterative learning correction + UI
arch:
  - aarch64
  - amd64
  - armv7
  - armhf
  - i386
startup: application
boot: auto
init: false
ingress: true
ingress_port: 8080
panel_icon: mdi:chart-line
options:
  ha_url: http://homeassistant.local:8123
  ha_token: ""
  poll_interval_minutes: 15
  timezone: Europe/Stockholm
  horizon_hours: 48
  entities:
    total_load_power: sensor.inverter_load_power
    l1_load_power: sensor.inverter_load_l1_power
    l2_load_power: sensor.inverter_load_l2_power
    l3_load_power: sensor.inverter_load_l3_power
    soc: sensor.inverter_battery
    grid_l1_current: sensor.inverter_grid_l1_current
    grid_l2_current: sensor.inverter_grid_l2_current
    grid_l3_current: sensor.inverter_grid_l3_current
schema:
  ha_url: str
  ha_token: password
  poll_interval_minutes: int
  timezone: str
  horizon_hours: int
  entities:
    total_load_power: str
    l1_load_power: str
    l2_load_power: str
    l3_load_power: str
    soc: str?
    grid_l1_current: str?
    grid_l2_current: str?
    grid_l3_current: str?
